#avatar {
    width: 60px;
    height: 48px;
}

#navbar {
    background-color: white;
}

#professionalImage {
    height: 20rem;
}

#nome {
    font-size: 32px;
}

#description {
    font-size: 24px;
}

@media (min-width: 1200px) {
    .w-xxl-50 {
        width: 20% !important;
    }
    .h-xxl-50 {
        height: 10% !important;
    }
    .nome-xxl {
        font-size: 48px !important;
    }
    .description-xxl {
        font-size: 32px !important;
    }
}

@media (min-width: 1400px) {
    .w-xxl-50 {
        width: 50% !important;
    }
    .h-xxl-50 {
        height: 50% !important;
    }
}

.highWords {
    color: #F05454;
}

.homeDescription {
    font-family: "Jost", serif;
    font-weight: 700;
    font-style: normal;
}

.nav-link {
    font-family: "Buenard", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}